@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@keyframes sample {
  0% {
    border-color: red;
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: blue;
  }
  75% {
    border-color: green;
  }
  100% {
    border-color: red;
  }
}

body {
  background-image: url(images/shounen.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: visible;
}
.f_c {
  height: 500px;
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  background-color: rgba(240, 248, 255, 0.5);
  overflow: scroll;
}
.main-contain {
  display: grid;
  grid-template-columns: 10% 80vw 10%;
}
.ico {
  height: 100px;
  width: auto;
}
a:link {
  text-decoration: none;
}

.f-1-1 {
  background-color: rgba(255, 255, 255, 0.9);
}
.f-display {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  background-color: white;

  margin: 2px;
}

.f-display img {
  width: 30%;
  border-radius: 5px;
}
.s_contain {
  background-color: #e8eae6;
  box-shadow: 5px 5px;
}
.c_icon {
  height: 500px;
  width: auto;
}
.c_item {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  margin: 0;
}
.n-1 {
  height: 100%;
  padding: 0 1em;
}
.n-1-1 {
  background-color: rgba(240, 248, 255, 0.94);
}
.n-thumb {
  min-height: 100px;
  min-width: 100px;
}

.n_ico {
  height: 50px;
  width: 50px;
}
.dropdown-menu > a {
  color: white;
}
.gallery:hover {
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.908);
  animation-name: sample;
  animation-duration: 4s;
}
.card-body > ul li {
  list-style: none;
}
@media screen and (max-width: 780px) {
  #featured_carousel {
    height: 0px;
    visibility: hidden;
  }
}
#forum-gif {
  width: 30%;
}
